.content {
	width: 500px;
}

.content th,
.content td {
	text-align: center;
}

ul {
	list-style: none;
	padding: 0px;
	width: 200px;
}

tr {
	height: 60px;
	width: 200px;
}

td:first-child {
	padding: 10px !important;
	align-items: center !important;
}

li {
	width: 100%;
}
